[buildout]
extends = http://dist.plone.org/release/5.0.5/versions.cfg
index = https://pypi.org/simple
show-picked-versions = true
extensions = mr.developer
parts =
    instance
    test
#    code-analysis # removed .installed.cfg and commented this out to avoid version pin nightmare, July 2020
    releaser
    i18ndude
    omelette
    robot
develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    plonetheme.future_imperfect [test]


[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/plonetheme
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'plonetheme.future_imperfect', '--auto-color', '--auto-progress']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[versions]
# Don't use a released version of plonetheme.future_imperfect
plonetheme.future_imperfect =

setuptools = 24.3.0
zc.buildout = 2.5.2
zc.recipe.egg = 2.0.3
flake8 = 2.5.5
i18ndude = 4.0.1
robotframework = 3.0
robotframework-ride = 1.5.2.1
robotframework-selenium2library = 1.7.4
robotsuite = 1.7.0
selenium = 2.53.1
plone.testing = 5.0.0
zest.releaser = 6.8
twine = 1.8.1
